@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-snap-x {
    scroll-snap-type: x mandatory;
}

.scrollbar-hidden {
    scrollbar-width: none; /* Oculta el scrollbar en Firefox */
}

.scroll-snap-align {
    scroll-snap-align: start;
}

.top-mod{
    top: 48%;
}

.height-5{
    height: 15%;
}

.custom-gap-10{
    gap:10px;
}

.custom-l{
    left: 90px;
}

.custom-r{
    right: 90px;
}