@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Work+Sans:wght@200&display=swap');

.scroll-snap-x {
    scroll-snap-type: x mandatory;
}

.scrollbar-hidden {
    scrollbar-width: none; /* Oculta el scrollbar en Firefox */
}

.scroll-snap-align {
    scroll-snap-align: start;
}

.top-mod{
    top: 48%;
}

.height-5{
    height: 15%;
}

.custom-gap-10{
    gap:10px;
}

.fuente-titulos{
    font-family: 'Merriweather', serif;
    font-style: normal;
}

.fuente-parrafos{
    font-family: 'Work Sans', serif;
    font-style: normal;
}

.clamp-parrafos{
   font-size: clamp(1rem, 0.9300rem + 0.3200vw, 1.15rem);
}

.clamp-titulos{
    font-size: clamp(1.25rem, 1.2080rem + 0.1920vw, 1.3rem);
}

.ajuste-top{
    top: 55%
}